In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("boston.csv")

In [7]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,house_price
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
input_data = df.iloc[:,:-1]
output_data = df["house_price"]

In [10]:
output_data

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: house_price, Length: 506, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(input_data,output_data,test_size=0.25)

In [13]:
x_train

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
424,425,8.79212,0.0,18.10,0,0.584,5.565,70.6,2.0635,24,666,20.2,3.65,17.16
87,88,0.07151,0.0,4.49,0,0.449,6.121,56.8,3.7476,3,247,18.5,395.15,8.44
96,97,0.11504,0.0,2.89,0,0.445,6.163,69.6,3.4952,2,276,18.0,391.83,11.34
302,303,0.09266,34.0,6.09,0,0.433,6.495,18.4,5.4917,7,329,16.1,383.61,8.67
85,86,0.05735,0.0,4.49,0,0.449,6.630,56.1,4.4377,3,247,18.5,392.30,6.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,289,0.04590,52.5,5.32,0,0.405,6.315,45.6,7.3172,6,293,16.6,396.90,7.60
95,96,0.12204,0.0,2.89,0,0.445,6.625,57.8,3.4952,2,276,18.0,357.98,6.65
440,441,22.05110,0.0,18.10,0,0.740,5.818,92.4,1.8662,24,666,20.2,391.45,22.11
153,154,2.14918,0.0,19.58,0,0.871,5.709,98.5,1.6232,5,403,14.7,261.95,15.79
19,20,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.28

In [14]:
x_test

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
418,419,73.53410,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62
390,391,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666,20.2,394.43,17.11
250,251,0.14030,22.0,5.86,0,0.431,6.487,13.0,7.3967,7,330,19.1,396.28,5.90
340,341,0.06151,0.0,5.19,0,0.515,5.968,58.5,4.8122,5,224,20.2,396.90,9.29
438,439,13.67810,0.0,18.10,0,0.740,5.935,87.9,1.8206,24,666,20.2,68.95,34.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,0.04819,80.0,3.64,0,0.392,6.108,32.0,9.2203,1,315,16.4,392.89,6.57
129,130,0.88125,0.0,21.89,0,0.624,5.637,94.7,1.9799,4,437,21.2,396.90,18.34
370,371,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96
11,12,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27
428,429,7.36711,0.0,18.10,0,0.679,6.193,78.1,1.9356,24,666,20.2,96.73,21.52

In [15]:
y_train

424    11.7
87     22.2
96     21.4
302    26.4
85     26.6
       ...
288    22.3
95     28.4
440    10.5
153    19.4
19     18.2
Name: house_price, Length: 379, dtype: float64

In [16]:
y_test

418     8.8
390    15.1
250    24.4
340    18.7
438     8.4
       ...
254    21.9
129    14.3
370    50.0
11     18.9
428    11.0
Name: house_price, Length: 127, dtype: float64

In [17]:
df.shape

(506, 15)

In [18]:
x_test.shape

(127, 14)

In [19]:
x_train.shape

(379, 14)