In [85]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("F:\dataset_for_ML\supervised\Extrovert_introvert_dataset\personality_datasert.csv")

In [5]:
df.shape

(2900, 8)

In [7]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [29]:
df["Friends_circle_size"].unique()

array([13.        ,  0.        ,  5.        , 14.        ,  8.        ,
        6.        ,  7.        , 15.        ,  4.        , 10.        ,
        1.        , 12.        ,  2.        , 11.        ,  9.        ,
        3.        ,  6.26886291])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [25]:
df.select_dtypes("float").describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000
mean,4.505816,3.963354,3.000000,6.268863,3.564727
std,3.441180,2.872608,2.221597,4.232340,2.893587
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,1.000000,3.000000,1.000000
50%,4.000000,3.963354,3.000000,5.000000,3.000000
75%,7.000000,6.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [39]:
df.isna().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [43]:
df.duplicated().sum()

402

In [45]:
df.drop_duplicates(inplace=True)

In [47]:
df.shape

(2498, 8)

In [49]:
df.select_dtypes("float").describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2498.000000,2498.000000,2498.000000,2498.000000,2498.000000
mean,4.232128,4.200867,3.192954,6.580130,3.815283
std,3.406630,2.874305,2.218807,4.257516,2.914253
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,3.000000,1.000000
50%,3.000000,4.000000,3.000000,6.000000,3.000000
75%,7.000000,7.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [71]:
df["Time_spent_Alone"].unique(),df["Time_spent_Alone"].value_counts()

(array([ 4.      ,  9.      ,  0.      ,  3.      ,  1.      ,  2.      ,
        10.      ,  6.      ,  5.      ,  8.      ,  4.505816,  7.      ,
        11.      ]),
 Time_spent_Alone
 0.000000     346
 2.000000     338
 3.000000     330
 1.000000     308
 10.000000    153
 9.000000     150
 4.000000     145
 7.000000     142
 5.000000     139
 8.000000     139
 6.000000     131
 11.000000    116
 4.505816      61
 Name: count, dtype: int64)

In [89]:
df[df["Time_spent_Alone"].round(6) == 4.505816]

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
59,4.505816,No,9.0,4.0,No,7.0,5.0,Extrovert
125,4.505816,Yes,3.0,0.0,Yes,2.0,1.0,Introvert
171,4.505816,No,4.0,7.0,No,7.0,5.0,Extrovert
180,4.505816,No,8.0,5.0,No,9.0,4.0,Extrovert
207,4.505816,Yes,2.0,2.0,Yes,1.0,2.0,Introvert
...,...,...,...,...,...,...,...,...
2705,4.505816,No,9.0,5.0,No,9.0,4.0,Extrovert
2711,4.505816,No,4.0,6.0,No,12.0,3.0,Extrovert
2715,4.505816,No,6.0,6.0,No,14.0,6.0,Extrovert
2772,4.505816,No,7.0,6.0,No,11.0,7.0,Extrovert
2787,4.505816,No,1.0,2.0,Yes,4.0,2.0,Introvert